<main class="about-main">
<a id="menu-toggle" href="#sidr">
  <img src="https://content.codecademy.com/projects/z2d/stories/menu-white.svg" alt="Open" class="icon-menu" width="24px">
</a>
  <div class="content container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6">
        <h1 class="heading">Relive your favorite <strong>Memories</strong></h1>
      </div>
    </div>
  </div>
</main>
<div class="about-supporting">
  <div class="container">
    <h2>No more sorting through photos</h2>
    <p>
      Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.
    </p>
    <p>
      <%= link_to "Sign Up".html_safe, "signups/new", class: "btn btn-primary" %>
    </p>
  </div>
</div>