
<main class="home-main">
<a id="menu-toggle" href="#sidr">
  <img src="https://content.codecademy.com/projects/z2d/stories/menu-white.svg" alt="Open" class="icon-menu" width="24px">
</a>
  <div class="container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6">
        <h1 class="heading">Create and share <strong>Stories</strong></h1>
        <p>
          <%# <a href="#" class="btn btn-secondary">Learn More</a> %>
          <%= link_to "Learn More", :about, :class => "btn btn-secondary"%>
        </p>
      </div>
    </div>
  </div>
</main>
<div class="home-supporting">
  <div class="container">
    <h2>Relive and share your adventures</h2>
    <p>
      Stories automatically creates a digital journal filled with only your best photos.
    </p>
  </div>
</div>
<div class="home-secondary">
  <div class="container">
   
  </div>
</div>
<div class="home-about">
  <div class="container">
    <h2>Discover Stories</h2>
     <p>
       <%# <a href="#" class="btn btn-secondary">Learn More</a> %>
       <%= link_to "Learn More", :about, :class => "btn btn-secondary"%>
     </p>
  </div>
</div>
