<main class="thanks-main">
<a id="menu-toggle" href="#sidr">
  <img src="https://content.codecademy.com/projects/z2d/stories/menu-white.svg" alt="Open" class="icon-menu" width="24px">
</a>
  <div class="content container">
    <h1>Thanks. We'll be in touch reeeeally soon...</h1>
  </div>
</main>