// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  // background-color: #000;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // width: 240px;
  z-index: 1;
  ul {
    list-style: none;
    padding-left: 0;
  }
  // li {
  //   a {
  //     color: #fff;
  //     display: block;
  //     font-size: 18px;
  //     font-weight: 100;
  //     padding: 30px 40px;
  //     text-decoration: none;
  //   }
  // }
  .icon-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    vertical-align: middle;
  }
}

#sidr {
  ul {
    border: unset;
  }
  li {
    line-height: unset;
    border: none;
    &:hover {
      border-top: 1px solid #4d4d4d;
      border-bottom: 1px solid #1a1a1a;
      + li {
        border-top: 1px solid #4d4d4d;
        border-bottom: 1px solid #1a1a1a;
      }
    }
    a {
      color: #fff;
      display: block;
      font-size: 18px;
      font-weight: 100;
      padding: 30px 40px;
      text-decoration: none;
    }
  }
}

.icon-menu {
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.home-main {
  background-image: url("bwheadshot.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  color: white;
  h1 {
    font-weight: 100;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    white-space: nowrap;
  }
  .content {
    position: relative;
    top: 100px;
    text-align: center;
  }
}

.heading {
  strong {
    color: #2e72bd;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.btn {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.home-supporting,
.home-about {
  padding: 80px 0;
  text-align: center;
  h2 {
    margin: 30px 0;
    font-size: 45px;
    font-weight: 300;
  }
  p {
    font-size: 21px;
    font-weight: 100;
  }
}

.home-secondary {
  height: 500px;
  background-image: url("cuba.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    background-image: url("cuba1.jpg");
    // transition: 1s;
  }
}

.footer {
  background-color: #f9f9f9;
  border-top: solid 1px #f5f5f5;
  padding: 40px 0 30px 0;
  text-align: center;
  p {
    text-transform: uppercase;
    font-size: 12px;
    color: #aaa;
  }
}
